name: Cypress Tests

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload Report Artifact
        uses: actions/upload-pages-artifact@v3
        if: always()
        with:
          path: cypress/reports/html

      - name: Upload Raw Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-raw-report
          path: cypress/reports/html
          retention-days: 30

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: cypress-run
    if: always()
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
